<p>
  <%= link_to 'Tests', admin_tests_path %>
</p>
 
<p>
  <strong><%= t('.title') %>:</strong>
    <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
    <%= @test.level %>
</p>

<p>
  <strong><%= t('.category') %>:</strong>
    <%= @test.category.title %>
</p>

<p><strong>Questions of current test:</strong></p>
  <table>
    <%= render @test.questions %>
  </table> 
</p>

<p>
  <%= link_to 'Create New Question', new_admin_test_question_path(@test)%>  
</p>