<p>
  <%= link_to 'Tests', tests_path %>
</p>
 
<p>
  <strong>Title</strong>
    <%= @test.title %>
</p>

<p>
  <strong>Level</strong>
    <%= @test.level %>
</p>

<p>
  <strong>Category</strong>
    <%= @test.category.title %>
</p>

<p><strong>Questions of current test:</strong></p>
  <% @test.questions.each do |question| %>
    <tr>
      <td><%= question.body %></td> 
      </br>
    </tr>
  <% end %>
<p>
  <%= link_to 'Create New Question', new_test_question_path(@test)%>
</p>
